@model TheSwimTimeSite.Models.ViewModels.CreateEditCourseViewModel


@{
    ViewBag.Title = "Edit";
}
<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />;
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.Creating.CRN)
        <div id="multipleUsers">
            <br />
        
            <fieldset>
                <table>
                    <tr>
                        <td align="left">
                            Title&nbsp&nbsp
                            @Html.EditorFor(model => model.Creating.Title)
                            @Html.ValidationMessageFor(model => model.Creating.Title)
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            Course Code
                            @Html.EditorFor(model => model.Creating.courseCode)
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            Term
                            @Html.DropDownListFor(m => m.Creating.Term.TermID, Model.TermList, "--")
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            weekCourseStarts
                            @Html.DropDownListFor(m => m.Creating.DayOfWeek, Model.DaysList, "--")
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            courseDuration
                            @Html.DropDownListFor(m => m.Creating.Duration, Model.DurationList, "--")
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            courseRunningTime
                            @Html.DropDownListFor(m => m.Creating.TimeOfDay, Model.TimeList, "--")
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            Require Checkout
                            @Html.EditorFor(model => model.Creating.CheckOut)
                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Save Changes" /></td>
                    </tr>
                </table>
            </fieldset>
           <br />
            <br />
            @Html.ActionLink("Courses", "Index", "Course", null, new { @style = "padding:1px 10px 1px 10px;text-decoration:none;color:white;background-color:red;margin-top:19px;" })
        </div>
    }

</body>
</html>


